
/*
* hair: #954C8B
skin: #FDEFE4
eye: #1C315E
coat: #516890
lapel: #81374A
scarf: #74ABB2
*/

@define-color bg        #954C8B;
@define-color active    #FDEFE4;
@define-color inactive  #74ABB2;
@define-color hover     #836DD3;
@define-color danger    #81374A;

@define-color sound     #FDEFE4; 
@define-color backlight #FDEFE4;
@define-color battery   #FDEFE4;
@define-color clock     #FDEFE4;
@define-color picker    #FDEFE4;
@define-color network   #FDEFE4;
