/*
    base: #191724F2;
    surface: #1f1d2e;
    overlay: #26233a80;
    muted: #6e6a86;
    subtle: #908caa;
    text: #e0def4;
    love: #eb6f92;
    gold: #f6c177;
    rose: #ebbcba;
    pine: #31748f;
    foam: #9ccfd8;
    iris: #c4a7e7;
    highlight-low: #21202e;
    highlight-med: #403d52;
    highlight-high: #524f67F2;
*/

@define-color bg        #1f1d2e;
@define-color active    #403d52;
@define-color inactive  #6e6a86;
@define-color hover     #21202e;
@define-color danger    #ebbcba;

@define-color sound     #31748f; 
@define-color backlight #31748f;
@define-color battery   #31748f;
@define-color clock     #31748f;
@define-color picker    #31748f;
@define-color network   #31748f;
