@define-color bg rgba(30, 30, 46, 0.5);
/*@define-color bg_more black; */
@define-color bg_more rgba(15,15,25,0.6);
@define-color primary #C33CE8; /* NOTE: tied into wallpaper's color theme */
@define-color fg #C2B3A4;
@define-color fg_less #928374;

* {
    border: none;
    border-radius: 0px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

#window {
    background: @bg_more;
    margin: 5px 0px;
    padding: 0px 10px;
    border-radius: 7px;
    font-weight: normal;
    font-style: normal;
}

window#waybar {
    background: @bg;
    border-bottom: 1px solid @bg_more;
    color: #f4d9e1
}

#custom-os-logo, #battery, #wireplumber, #network, #custom-os-logo, #custom-date, #clock {
    background: transparent;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    border-radius: 7px;
    border: solid 0px #f4d9e1; /* todo */
}

#custom-os-logo {
    color: #1C92CE; /* from official logo */
    /* https://docs.gtk.org/gtk3/css-overview.html#scaled-images-in-css */
    background-image: url('/usr/share/pixmaps/archlinux-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: @bg_more;
    font-size: 8px;
    border-radius: 7px;
    margin: 5px 0px 5px 5px;
    padding: 0px 8px; /* NOTE: padding functions as 'content size' here */
    border-width: 8px;/* NOTE: border functions as padding here */
    border-color: @bg_more;
}

#workspaces {
    background: @bg_more;
    margin: 5px 0px 5px 5px;
    padding: 5px 5px 5px 0px;
    border-radius: 7px;
    border: solid 0px #f4d9e1; /* todo */
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    border-radius: 7px;
    color: #928374; /* todo */
}

#workspaces button.active {
    color: @primary; 
    background-color: transparent;
    border-radius: 7px;
}

#workspaces button:hover {
    background-color: orange;
    color: blue;
    border-radius: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/Module:-WirePlumber */
#wireplumber {
    background-color: @bg_more;
    color: @fg_less; /* todo */
    border-radius: 7px;
    padding-right: 5px;
    padding-left: 5px;
}

#custom-playerlabel {
    background: @bg_more;
    color: @fg;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    font-weight: normal;
    font-style: normal;
}

#custom-power {
    color: #24283b; /* todo */
    background-color: #db4b4b; /* todo */
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
}

#battery {
    color: #9ece6a; /* todo */
}

#battery.charging {
    color: #9ece6a; /* todo */
}

#battery.warning:not(.charging) {
    background-color: #f7768e; /* todo */
    color: #24283b; /* todo */
    border-radius: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/Module:-Backlight-Slider */
#backlight {
    background-color: @bg_more; /* todo */
    color: @fg_less; /* todo */
    border-radius: 7px;
    margin: 5px 0px 5px 5px;
    padding: 5px;
}

#network {
    background-color: @bg_more;
    color: @fg_less;
    border-radius: 7px;
    margin: 5px 0px 5px 5px;
    padding: 0px 10px 0px 5px;
}

#custom-hyprpicker {
    background-color: @bg_more;
    color: @primary;
    border-radius: 7px;
    margin: 5px 0px;
    padding: 0px 10px;
    font-weight: bold;
}

#cpu {
    background-color: @bg_more;
    color: @fg_less;
    border-radius: 7px;
    margin: 5px 0px 5px 5px;
    padding: 0px 5px;
    font-weight: bold;
}

#memory {
    background-color: @bg_more;
    color: @fg_less;
    border-radius: 7px;
    margin: 5px 0px 5px 5px;
    padding: 0px 5px;
    font-weight: bold;
}

#disk {
    background-color: @bg_more;
    color: @fg_less;
    border-radius: 7px;
    margin: 5px 0px 5px 5px;
    padding: 0px 5px;
    font-weight: bold;
}

#clock {
    background-color: @bg_more;
    color: @fg_less;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
}
#custom-date {
    color: @fg_less;
}
