@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}

#custom-playerlabel,
#backlight,
#clock,
#battery,
#wireplumber,
#custom-os-logo,
#custom-hyprpicker,
#custom-power {
  background-color: @surface0;
  padding: 5px 10px;
  margin: 5px 0;
}

#custom-os-logo {
    /* https://docs.gtk.org/gtk3/css-overview.html#scaled-images-in-css */
    background-image: url('/usr/share/pixmaps/archlinux-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: @surface0;
    border-radius: 7px;
    margin-left: 5px;
    padding: 0px 20px; /* NOTE: padding functions as 'content size' here */
}

#workspaces {
  border-radius: 7px;
  margin: 5px;
  margin-left: 10px;
  background-color: @surface0;
  padding-right: 5px;
}

#workspaces button {
  color: @lavender;
  border-radius: 7px;
  padding: 5px 10px;
}

#workspaces button.active {
  color: @red;
  border-radius: 7px;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 7px;
}

#clock {
  color: @blue;
  border-radius: 0px 7px 7px 0px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#wireplumber {
  color: @maroon;
  border-radius: 7px 0px 0px 7px;
  margin-left: 10px;
}

#custom-playerlabel {
  color: @mauve;
  border-radius: 7px;
}

#custom-hyprpicker {
    margin-left: 10px;
    padding-left: 15px;
    border-radius: 7px 0px 0px 7px;
    color: @lavender;
}

#custom-power {
    margin-right: 10px;
    font-size: 24px;
    padding: 0px;
    padding-left: 10px;
    border-radius: 0px 7px 7px 0px;
    color: @red;
}

